<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">
	<Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="DemoWebsiteAppPool" Guid="" KeyPath="yes">
        <iis:WebAppPool Id="DemoWebsiteAppPool"
                        Name="DemoWebsite"
                        Identity="applicationPoolIdentity"
                         ManagedPipelineMode="Integrated" 
                        ManagedRuntimeVersion="v4.0" />
      </Component>

      <Component Id="InstallWebsite" Guid="" KeyPath="yes">
        <!-- Install to default web site -->
        <iis:WebSite Id="DemoWebsiteWebsite" Description='Demo Website' Directory='INSTALLFOLDER' AutoStart='yes' StartOnInstall='yes'>
          <iis:WebAddress Id="AllUnassigned" Port="80" />
          <iis:WebApplication Id="DemoWebsiteApplication" Name="[DemoWebsiteWebsite][WEBSITE_ID]" WebAppPool="DemoWebsiteAppPool"></iis:WebApplication>
        </iis:WebSite>
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="DemoWebsiteIssConfiguration">
      <ComponentRef Id="InstallWebsite" />
      <ComponentRef Id="DemoWebsiteAppPool" />
    </ComponentGroup>
  </Fragment>
</Wix>